<!-- Inicio Administraci贸n Regional -->

<% @workers.each do |worker| %>
  <% if worker.division.name === "Administraci贸n Regional" && worker.unit.name === "Administraci贸n Regional" && worker.charge.name === "Administrador Regional" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!-- Fin Administraci贸n Regional -->
