<!-- Inicio Intendencia -->
<% @workers.each do |worker| %>
  <% if worker.division.name === "Intendencia" && worker.unit.name === "Intendencia Regional" && worker.charge.name === "Intendente" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>
<!-- Fin Intendencia -->
